Source: utranslate
Section: unknown
Priority: extra
Maintainer: michel <michel@unknown>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/utranslate.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/utranslate.git;a=summary

Package: utranslate
Architecture: all
Depends: ${misc:Depends},qtdeclarative5-qtquick2-plugin,qtdeclarative5-u1db1.0,qtdeclarative5-ubuntu-ui-toolkit-plugin|qt-components-ubuntu,${shlibs:Depends},qmlscene
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
