[Desktop Entry]
Name=uTranslate
Comment=a translation app
Exec=/usr/bin/qmlscene $@ /usr/share/uTranslate/uTranslate.qml
Icon=graphics/uTranslate.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
